body{
    display: flex;
    justify-content: center;

}

.container{
    text-align: center;
    margin-top: 100px;
    border: 1px solid black;
    padding: 20px;
}

.btnContainer{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button{
    padding: 10px 20px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
}

h2{
    font-size: 2rem;
}